<% include _partials/_head %>

<body>
  <main>

	<div class="container d-flex justify-content-center align-items-center">
		<div class="row">
			<div class="col p-4 text-center">
				<h1 class="mb-4">Welcome to the Logistics Cluster Icon System</h1>
				<a href="/sprite/sprite.symbol.html" class="btn btn-outline-light text-uppercase">Go to Icon Library</a>

				<div>
					<svg class="fill-white">
						<use xlink:href="sprite/sprite.svg#road-transport"></use>
					</svg>

					<svg class="fill-white">
						<use xlink:href="sprite/sprite.svg#air"></use>
					</svg>

					<svg class="fill-white">
						<use xlink:href="sprite/sprite.svg#sea"></use>
					</svg>

					<svg class="fill-white">
						<use xlink:href="sprite/sprite.svg#storage"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
	
  </main>

  <% include _partials/_footer %>
